.btn{
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 23px;
  font-size: 14px;
}

.btn-secondary:focus,.btn-secondary:hover,.btn-secondary:active,
.btn-primary:focus,.btn-primary:hover,.btn-primary:active{
  opacity: .9;
}

.btn.btn-primary {
  color: #fff;
  background-color: var(--primary);
  border: 0;
}

.btn.btn-secondary {
  color: var(--typo-v1);
  background-color: var(--bg);
  border: 1px solid var(--border-color);
}

.btn.btn-disabled{
  color: #fff;
  background-color: var(--disabled);
  border: 0;
  cursor: not-allowed;
}
.btn.btn-red{
  color: #fff;
  background-color: var(--red);
  border: 0;
}
