<div class="donation-card">
  <img src="./assets/1.webp" alt="Donation 1 Image">
  <div class="description">Earthquakes in Morocco have left massive damages, they need your help!</div>
  <div class="donation-bar">
    <div class="progress-bar" [style]="{width:72 + '%'}"></div>
  </div>
  <div class="donation-info">
    <span class="progress">Raised: 1.018.485 $</span>
    <span class="limit">Goal: 2.000.000 $</span>
  </div>
  <div class="buttons">
    <app-button  [style]="'secondary'" >Learn More</app-button>
    <app-button [style]="'primary'" >Donate Now </app-button>
  </div>
</div>
