.dashboard-content{

  .options{
    display: flex;
    align-items: center;

    .select-wrapper {
      position: relative;
      margin: 25px 0;
    }

    .select-wrapper::after {
      content: "▼";
      font-size: 10px;
      top: 12px;
      right: 10px;
      position: absolute;
      color: var(--typo-v1);
    }

    label {
      font-size: 17px;
      color: var(--typo-v1);
      margin-right: 15px;
    }
    select {
      background-color: var(--bg);
      border: 1px solid var(--border-color);
      border-radius: 4px;
      padding: 7px 30px 7px 10px;
      font-size: 15px;
      color: var(--typo-v1);
      -webkit-appearance: none;
      appearance: none;
    }

    >*:nth-child(3){
      margin-left: auto;
    }
    .bt-add{
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 15px;
      i{
        font-size: 21px;
      }
    }
  }


}
