<div class="hero-container">
    <div class="image-container">
        <img src="./assets/1.webp" alt="Your Image Alt Text">
      </div>
  <div class="background-image"></div>
  <div class="content-container">
    <div class="title">People in Morocco are struggling in the aftermath of the latest earthquakes</div>
    <div class="description">DAN has launched an urgent campaign to gather help for the people in Morocco.
        We urge you to donate or volunteer  in anyway you can.</div>
    <div class="buttons">
        <app-button [style]="'secondary'" >Volunteer</app-button>
        <app-button [style]="'primary'" >Donate Now </app-button>
    </div>
    <div class="arrow-container">

        <a href="" >
          <span class="more-causes arrow">
             <span>More Causes</span> <span class="material-icons">arrow_forward</span>

          </span>
        </a>


    </div>
  </div>
</div>

