<div class="hero-container">
    <div class="image-container">
        <img src="./assets/placeholder-1.jpg" alt="Your Image Alt Text">
      </div>
  <div class="background-image"></div>
  <div class="content-container">
    <div class="title">People in Morocco are struggling in the aftermath of the latest earthquakes</div>
    <div class="description">DAN has launched an urgent campaign to gather help for the people in Morocco.
        We urge you to donate or volunteer  in anyway you can.</div>
    <div class="buttons">
        <app-button [style]="'secondary'" >Volunteer</app-button>
        <app-button [style]="'primary'" >Donate Now </app-button>
    </div>
    <app-arrow-link position="center"></app-arrow-link>
  </div>
</div>

