<app-header></app-header>
<div class="container">
  <h3>Lorem ipsum dolor sit amet consectetur.</h3>

  <p class="post-type green">Volunteer</p>

  <p class="red-text">No longer Available.</p>

  <p class="description" >Lorem ipsum dolor sit amet consectetur. Parturient scelerisque elementum vitae a a.
  Duis nunc id at diam eget. Egestas pulvinar vitae nulla justo. Sed tortor mattis vitae vulputate.
  Nisl convallis accumsan ultrices sed fermentum amet vulputate aenean. Quis laoreet sollicitudin
  elementum sed scelerisque sit dignissim arcu. Volutpat et egestas eget vestibulum egestas libero amet.
  Id proin blandit consequat est adipiscing amet. Nunc enim bibendum tortor sed vitae pharetra arcu.
  Mi quam scelerisque tincidunt sit consectetur ut aenean odio eu.
  Consectetur amet in magna netus ornare duis justo leo. Interdum aliquam amet malesuada et quis
  convallis arcu vulputate. Orci feugiat ac purus.</p>


  <h3>Earthquakes in Morocco have left massive damages, they need your help!</h3>
  <p class="subtitle">Calamity: Earthquake</p>
  <div class="donation-info">
    <span class="progress">Raised: 1.018.485 $</span>
    <span class="limit">Goal: 2.000.000 $</span>
  </div>
  <div class="donation-bar">
    <div class="progress-bar" [style]="{width:72 + '%'}"></div>
  </div>
  <img src="/assets/placeholder-1.jpg" alt="Earthquakes in Morocco have left massive damages, they need your help!">

  <h3>Contact Details</h3>
  <p>Location: 3 Street Avenue, City, Country.</p>
  <p>Phone Number: +123 45 68 945.</p>

  <h3>Media</h3>
  <div class="media">
    <img src="/assets/placeholder-1.jpg" alt="Earthquakes in Morocco have left massive damages, they need your help!">
    <img src="/assets/placeholder-1.jpg" alt="Earthquakes in Morocco have left massive damages, they need your help!">
  </div>

  <div class="tags">
    <h3>Tags:</h3>
    <ul>
      <li class="tag">Morocco</li>
      <li class="tag">Earthquake</li>
      <li class="tag">Urgent</li>
    </ul>
  </div>

  <h3>Comments</h3>
  <app-button>
    <div class="icon-button">
      Add Comment<i class="material-icons-outlined">comment</i>
    </div>
  </app-button>
  <div class="comments">
    <app-comment></app-comment>
    <app-comment></app-comment>
  </div>


</div>
<app-footer></app-footer>
