.donation-section-container {
    text-align: center;
    padding: 20px;
  
    .title {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    .donation-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .donation-card {
      width: 26%; // Adjust the width for larger screens
      margin-bottom: 20px;
  
      @media (max-width: 768px) {
        width: 45%; // Adjust the width for smaller screens
      }
  
      @media (max-width: 480px) {
        width: 100%; // Full width for even smaller screens
      }
  
      img {
        width: 100%;
        height: auto;
        border-radius: 8px; // Optional: Add border-radius for rounded corners
      }
  
      .description {
        margin: 10px 0;
      }
  
      .donation-bar {
        height: 10px; // Sample height, adjust as needed
        background-color: #ccc; // Grey background for the full bar
    
        .progress-bar {
          height: 100%; // Take up the full height of the donation bar
          width: 75%; // Set the width to 50% for the progress
          background-color: #7b42bc; // Mauve background for the progress bar
        }
      }
  
      .donation-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
  
      .buttons {
        display: flex;
        gap: 15%;
        @media (max-width: 1000px) {
            gap: 0;
            justify-content: center;
          }
  
        button {
          margin: 0 10px;
          padding: 10px 20px;
          background-color: #3498db;
          color: #fff;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  