.donation-section-container {
    text-align: center;
    padding: 20px;

    .title {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .donation-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }


  }
