<div class="container">
  <div class="content">
    <h3>Latest News</h3>
    <p>Stay informed about the latest news on natural disasters worldwide.
      Our dedicated team brings you timely updates on events that impact
      communities globally. Whether it's earthquakes, floods, wildfires,
      or other natural phenomena, we strive to provide accurate and up-to-date information
      to keep you aware and safe.</p>

    <div class="news">
      <div class="cards">
        <div class="card">
          <a routerLink="/">Lorem ipsum dolor sit amet consectetur.</a>
          <img src="/assets/placeholder-1.jpg" alt="Lorem ipsum dolor sit amet consectetur.">
          <div class="backdrop"></div>
        </div>
        <div class="card">
          <a routerLink="/">Lorem ipsum dolor sit amet consectetur.</a>
          <img src="/assets/placeholder-1.jpg" alt="Lorem ipsum dolor sit amet consectetur.">
          <div class="backdrop"></div>
        </div>
      </div>
      <div class="links">
        <a class="link" routerLink="/">
          <span>Lorem ipsum dolor sit amet consectetur. amet consectetur.</span>
          <i class="material-icons">link</i>
        </a>
        <a class="link" routerLink="/">
          <span>Lorem ipsum dolor sit amet consectetur. amet consectetur.</span>
          <i class="material-icons">link</i>
        </a>
        <a class="link" routerLink="/">
          <span>Lorem ipsum dolor sit amet consectetur. amet consectetur.</span>
          <i class="material-icons">link</i>
        </a>
        <a class="link" routerLink="/">
          <span>Lorem ipsum dolor sit amet consectetur. amet consectetur.</span>
          <i class="material-icons">link</i>
        </a>
        <a class="link" routerLink="/">
          <span>Lorem ipsum dolor sit amet consectetur. amet consectetur.</span>
          <i class="material-icons">link</i>
        </a>
        <app-arrow-link text="More News"></app-arrow-link>
      </div>
    </div>

  </div>
</div>
