<div class="table">
  <div class="table-head">
    <p *ngFor="let col of tableColumns">{{col}}</p>
  </div>
  <div class="table-body">
    <div class="row">
      <p>202</p>
      <p><span class="tag green">ANNOUNCEMENT</span></p>
      <p>email.mail@mail.com</p>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
      <p class="actions">
        <button (click)="openEditModal(1)"><i class="material-icons">mode_edit</i></button>
        <button (click)="openDeleteModal(1)"><i class="material-icons">delete</i></button>
      </p>
    </div>
    <div class="row">
      <p>202</p>
      <p><span class="tag green">ANNOUNCEMENT</span></p>
      <p>email.mail@mail.com</p>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
      <p class="actions">
        <button (click)="openEditModal(2)"><i class="material-icons">mode_edit</i></button>
        <button (click)="openDeleteModal(2)"><i class="material-icons">delete</i></button>
      </p>
    </div>


  </div>
</div>
