<div class="table">
  <div class="table-head">
    <p *ngFor="let col of tableColumns">{{col}}</p>
  </div>
  <div class="table-body">
    <ng-container *ngIf="dataType === 'Help'">
      <div *ngFor="let row of data" class="row">
        <p>{{row.id}}</p>
        <p><span class="tag red">HELP</span></p>
        <p>{{row.author.email}}</p>
        <p>{{row.title}}</p>
        <p class="actions">
          <button (click)="openEditModal(row.id)"><i class="material-icons">mode_edit</i></button>
          <button (click)="openDeleteModal(row.id)"><i class="material-icons">delete</i></button>
        </p>
      </div>
    </ng-container>

  </div>
</div>
