<div class="container">
  <h3>Our Efforts</h3>
  <div class="content">
    <div class="map-wrapper">
      <app-map></app-map>
    </div>
    <div class="info">
      <h4>Earthquake</h4>
      <p>Locations: Most of Morocco.</p>
      <p>Funds Raised: 1200$.</p>
      <p>Volunteers Number: 26.</p>
      <app-button>Learn More</app-button>
    </div>
  </div>

  <div class="stats">
    <p><span>841</span><span>Causes</span></p>
    <p><span>841</span><span>Location</span></p>
    <p><span>841</span><span>Donations</span></p>
    <p><span>841</span><span>Volunteers</span></p>
  </div>

</div>


