
body{
    margin: 0;
    padding: 0;
}
.grid-items{
    //display: grid;
}

.items {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.header{
    background: #ffffff;

}


.hero{
}


.news{
    background: lightgray;


}
.stats{
    background: lightsalmon;

}

.footer{
    background: lightgreen;

}
