<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="grid-items">
        <div class="header"><app-header></app-header></div>

        <div class="hero"><app-hero></app-hero></div>


        <div class="items donations"><app-donation-section></app-donation-section></div>

        <div class=" items news"><app-news-section></app-news-section> </div>


        <div class="items stats"> <app-statistics></app-statistics></div>

        <div class="items footer"> <app-footer></app-footer></div>


    </div>
</body>
</html>

