
body{
    margin: 0;
    padding: 0;
}
.grid-items{
    display: grid;
}

.items{
    margin : 0 7.5% 0 7.5%;
    text-align: center;
}
.header{
    background: #ffffff;

}


.hero{
    margin : 0;


}


.news{
    background: lightgray;


}
.stats{
    background: lightsalmon;

}

.footer{
    background: lightgreen;

}
