<div class="container">
  <div class="user-info">
    <div class="wrapper">
      <p class="username">Super Admin</p>
      <p class="email">super.admin@mail.com</p>
    </div>
    <div class="tag red">ADMIN</div>
  </div>
  <h3>RESOURCE MANAGEMENT</h3>
  <ul>
    <li>
      <a routerLink="/dashboard/users" routerLinkActive="active">
        <i class="material-icons">tag_faces</i>
        Users Table
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/posts" routerLinkActive="active">
        <i class="material-icons-outlined">article</i>
        Posts Table
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/causes" routerLinkActive="active">
        <i class="material-icons">star_outline</i>
        Causes Table
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/donations" routerLinkActive="active">
        <i class="material-icons">attach_money</i>
        Donations Table
      </a>
    </li>
  </ul>
</div>
