.container{
  padding: 20px;
  border-right: 1px solid var(--border-color);
  height: 100%;

  .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .username {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: var(--typo-primary);
    }

    .email {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: var(--typo-v2);
    }
    .tag{
      font-size: 13px;
      padding: 4px 15px;
    }
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--typo-v1);
    letter-spacing: 1px;
    margin: 30px 0 15px;
  }
  ul{
    list-style-type: none;
    font-family: 'Inter', sans-serif;

    li{
      margin-bottom: 15px;

      a{
        font-size: 18px;
        font-weight: 400;
        color: var(--typo-v2);
        display: flex;
        align-items: center;
        gap: 15px;
      }
      a.active{
        font-weight: 600;
        color: var(--primary);
      }
    }
  }
}
